#auth{
    display: flex;
    justify-content: center;
 

    
}
body{


  height: full; 
  width: full;
   background-image: url('../assets/nee.jpg');

  background-position: center;
  background-size: 100%; 

  background-repeat: no-repeat
 


}
@media (max-width: 768px) {
  body {
    height:100%;
    background-position:top;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  body {
    height: auto;
    background-size: contain; /* optional for small phones */

  }
}
